h1 {
  text-align: center;
}

a {
  margin-right: 20px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  box-shadow: 2px solid blue;
}

.active {
  background: peachpuff;
  font-weight: bold;
}